:root {
    --dark-blue: #1F2937;
    --light-blue: #3882F6;
    --light-gray: #E5E7EB;
}

body, body * {
    font-family: Roboto, 'sans-serif';
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: var(--dark-blue)
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

header button {
    background-color: var(--light-blue);
    color: white;
}

.quote {
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    margin: 0;
}

.header_content p {
    font-size: 18px;
}

header, nav, footer {
    background-color: var(--dark-blue);
    color: white;
}

.container {
    max-width: 50rem;
    margin: auto;
}

.quote_block {
    background-color: var(--light-gray);
    display: flex;
    flex-direction:column;
    align-items: flex-end;
}


nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.CTA {
    background-color: var(--light-blue);
    color: white;
}

.CTA button {
    color:  white;
    background: none;
}